<!DOCTYPE html> 
<html lang="da">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}IoT Sensor Dashboard{% endblock %}</title>
    <link
        href="../static/css/bootstrap.min.css"
        rel="stylesheet"
    >
    <script src="../static/js/plotly-latest.min.js"></script>
    {% block head_extra %}{% endblock %}
</head>

<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IoT Sensor Dashboard</a>
  </div>
</nav>

<div class="container mb-5">
    {% block content %}{% endblock %}
</div>
<script
  src="../static/js/bootstrap.min.js">
</script>
{% block scripts %}{% endblock %}
</body>
</html>
